@media screen and (min-width: 428px) {

.container {width: 426px;} 

.section-banner {max-width: 428px;}
.site-banner {
   font-size: 36px;
   width: 320px;
}
.skill-descrip {width: 396px;
height: auto;}
.subscribe-input {
width: 398px;}

.contact-mob-tel {
   font-size: 36px;
}
.soc-media-mob-menu { 
      width: 328px;  
       gap: 56px;
}

}







