@media screen and (min-width: 1158px) {
    .container {
   width: 1158px;
   padding: 0px 15px;
   text-align: center;
   margin: 0px auto;
 justify-content: space-between;
}
.header {
   padding: 24px 0px;
}
.logo-style {
margin-right: 76px;
}

.contact {
font-size: 16px;
line-height: 1.5;}

.contact-list {  
  display: flex;
  flex-direction: row;
   margin: 0px;
   padding: 0px;
   gap: 40px;
 }

 .current-postn::after {
bottom: -28px;
 }
.section-banner {
max-width: 1440px;
padding: 188px 0; 
}

.site-banner { 
max-width: 496px;
height: 120px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
margin: 0 auto 48px auto;
}
 .skill-section {
padding: 120px 0;
   }
.svg-list-skills {
    display: flex;
}
.skill-list {
   display: flex;
   gap: 24px;
   text-align: left;
   padding: 0px;
   justify-content: center;
}
/* .hidden-title{

} */
.skill-item {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--main-text-color);
letter-spacing: 0.02em;
margin-bottom: 8px;

}
.skill-descrip {
font-weight: 400;
width: 264px;
font-size: 16px;
line-height: 1.5;
color: var(--skill-descrip);}

.tablet-text-break-tech-stretegy, .tablet-text-break-tech {
  padding-right: 0px;
}
.activity-section{
display: block;
}
.our-team-section {
padding: 120px 0;
}
.team-list {
display: flex;
flex-direction: row;
max-width: 100%;
gap: 24px;
padding: 0px;
}

.customer-section {
/* margin: 0px auto; */
padding: 120px 0px;}

.customer-list {
max-width: 100%;
margin: 0px;
display: flex;
gap: 24px;
justify-content: space-between;
}

/* -----//-----FOOTER------//--- */

.footer-section {
padding: 100px 0px;
}

.footer-flex {
  text-align: left;
  width: 264px;
  padding: 0px;
  margin: 0px;
}

.footer-flex-blocks {
justify-content: start;
margin: 0 auto;
}

.socnetwork-media {
width: 208px;
height: 80px;
margin: 0 0 0 120px;}

.soc-media-title {
text-align: left;
}


.footer-subscribe {
   margin: 0px auto 0px 80px;
 
   text-align: left;
}

.subscribe-inpt-group {
   display: flex;
   flex-direction:row;
   justify-content: start
}

.subscribe-input {
   margin: 0px;
   max-width: 264px;}

   .sbcrb-submit-btn {
    margin: 0 0 0 24px;
   }

}