@media screen and (min-width: 768px) {
.section-banner {max-width: 768px; }

.container {
   width: 736px;
   padding: 0px;
   text-align: center;
   margin: 0px auto;
 justify-content: space-between;
}

.site-banner { 
width: 496px;
height: 120px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
margin: 0 auto 36px auto;
}
.skill-list {
    flex-direction:row;
    flex-wrap: wrap;
    gap: 72px 24px;
}
.skill-item {
    text-align: left;
}
.skill-descrip {width: 356px;
height: auto;}

.team-list {
max-width: 100%;
flex-direction: row;
flex-wrap:wrap;
gap: 64px 24px;
justify-content: center;
}

.customer-item-link {
width: 168px;}

.customer-list {
    max-width: 552px;
     gap: 72px 24px;
}

/* -----//-----FOOTER---//-- */

.footer-section {
padding: 96px 0px;
}
.footer-flex-blocks {
display: flex;
   flex-direction: row;
justify-content: space-between;
align-items: stretch;
}

}