@media screen and (min-width: 768px) {
.section-banner {max-width: 768px; }

.container {
   width: 768px;
   text-align: center;
   margin: 0px auto;
 justify-content: space-between;
  padding: 0px 15px;
}
.header-box {
display: flex;
justify-content: space-between;
margin: 0 auto;
align-items: center;
 }
.logo-style {
margin-right: 120px;
}
.button-mob-menu {display: none;}

.nav-linklist {display: flex;}

.contact-list {  
  display: flex;
  flex-direction: column;
   margin: 0px;
   padding: 0px;
   gap: 12px;

 }

.site-banner { 
width: 496px;
height: 120px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
margin: 0 auto 36px auto;
}
.skill-list {
    flex-direction:row;
    flex-wrap: wrap;
    gap: 72px 24px;
}
.skill-item {
    text-align: left;
}
.skill-descrip {width: 356px;
height: auto;}

.tablet-text-break-tech-stretegy {
    padding-right: 40px;
} 
.tablet-text-break-tech {
   padding-right: 5px;
}

.team-list {
max-width: 100%;
flex-direction: row;
flex-wrap:wrap;
gap: 64px 24px;
justify-content: center;
}

.customer-item-link {
width: 168px;}

.customer-list {
    max-width: 552px;
     gap: 72px 24px;
}

/* -----//-----FOOTER---//-- */

.footer-section {
padding: 96px 0px;
}
.footer-flex-blocks {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
align-items: flex-start;
width: 526px;
}
.footer-flex {
  text-align: left;
  width: 264px;
  padding: 0px;
  margin: 0 24px 72px 0;
}

.socnetwork-media {
margin: 0px; 
}
.soc-media-title {
    text-align: left;
}
.footer-subscribe {
    margin: 0;
}
.subscribe-text {
    text-align: left;
}
.subscribe-inpt-group {
flex-direction: row;
align-items: flex-start;
}
.subscribe-input {
max-width: 264px;
margin-right: 24px;
}

.sbcrb-submit-btn {
    margin: 0;
}

}